.profile-page {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.profile-sec {
  max-width: 800px;
  width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .name {
    font-size: 28px;
  }
}

.grp {
  display: flex;
  align-items: center;
  gap: 20px;
}
.avatar {
  width: 100px;
  height: 100px;
}
