.profile-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-sec {
  max-width: 800px;
  width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .name {
    font-size: 28px;
  }
}

.grp {
  display: flex;
  align-items: center;
  gap: 20px;
}
.avatar {
  width: 100px;
  height: 100px;
}

.uploader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 160px;
}

.pre-img {
  padding: 10px;
  background-color: var(--ui-background);
  box-shadow: -1px -2px 37px 0px rgba(207, 207, 207, 1);
  border-radius: 20px;
  margin-top: 100px;
}

.pre-img img{
  min-width: 340px;
  min-height: 200px;
  border-radius: 10px;
}